.homepage section[role=main] {
    margin-left: 120px;
}

#itemListView {
   width: 90%; 
   height:100%;     
}

#offlineBox {
    border: 3px solid gray;
    background-color:gainsboro;
    position:absolute; 
    width:50%;
    height:125px;
    font-size:20px;
    margin-left:25%;margin-top:20%;
    padding:30px; display:none;
}

#progressPoint {
    position:absolute;
    left:40%;
    top:40%;
    height:20%;
    width:20%;
    visibility:visible;
}

#retryButtonArea {
    width:100%;
    text-align:center
}