* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family:sans-serif;
    width: 100%;
    height: 100%;
}

body {
    font-size: 16px;
    background: #FFF;
}

.toolbar {
    padding-top : 10px;
    padding-bottom : 10px;
    width: 100%;
    background-color : #fff;
    text-align : center;
    border-bottom : 1px solid #d6d6d6;
}

.button {
    top: 10px;
    right: 10px;
    position: fixed;
    border: 1px solid #057cff;
    border-radius: 4px;
   background: #fff;
   padding: 5px 10px 5px 10px;
   color: #057cff;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }

#mask {
    position: fixed;
    opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191919;
}

#loading {
    margin: 0 auto;
    width: 32px;
    padding-top: 140px;
}

.feed-item {
    border-bottom: 1px solid #ccc;
    line-height: 1.2;
    padding: 6px;
}
.feed-item:nth-child(2n) {
    background: #f6f3f6;
}

.feed-item time {
    font-size: 90%;
    color: #006ADB;
}

.feed-item h2 {
    font-size: 115%;
    color: #313732;
    font-weight: bold;
    margin: 2px 0 5px;
}

.feed-item p {
    font-size: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

#error-message {
    padding: 20px;
    color: red;
}