@font-face {
    font-family: vt;
    src: url(../res/VT323-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
}


a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

span.invisible {
    display: none;
}

body {
    background-color:black;
} 

canvas {
    -webkit-transform-origin: 0 0;   
    -moz-transform-origin: 0 0; 
    transform-origin: 0 0; 
}
