body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    background-image: url(images/bg.png);
    height: 100%;
}
#wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px #000 inset;
}
#container {
    position: absolute;
    width: 680px;
    height: 210px;
    margin-top: -105px;
    margin-left: -340px;
    left: 50%;
    top: 50%;
    text-align: center;
}
#container img {
    display: block;
    float: left;
}
#date {
    color: #10efef;
    font-size: 50px;
    opacity: 0.5;
    margin-top: 30px;
    text-align: left;
    font-family: 'Helvetica';
}