
.list-item-container {
    padding: 10px;
    line-height: 1;
}

.top-page-icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.top-page-name {
    font-weight: 500;
    line-height: 1.2;
}

.top-page-proximity {
    font-size: 14px;
    line-height: 1.3;
}

.info-page-img {
    border: solid 1px rgba(0, 0, 0, 0.1);
    width: 100px;
    border-radius: 18px;
}

.info-page-description {
    text-align: center;
    font-size: 17px;
    line-height: 1.3;
    margin: 0;
}

