*{
    margin: 0;
    padding: 0;
}

body, html {
    font-family:sans-serif;
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    background: url(../images/bg.png);
    background-color: #000000;
    background-size: 100% 100%;
}
  
#title-bar {
    width: 100%;
    height: 52px;
    background-image:url('../images/title-bar-black.png');
    text-align : center;
}

#title-bar h2 {
    color : #fff;
    padding-top: 10px;
}

  
#container img {
    margin-top : 20px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#container img.shadow {
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(255, 255, 255, 100);
}

#bottom img {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#loadSpinner {
    display: block;
    margin: auto;
    margin-top: 40%;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 8px solid #28dddd;
    border-color: #ccc;
    border-right-color: transparent;
    -webkit-animation: spin 0.45s infinite linear;
    z-index: 999;
}

@-webkit-keyframes spin {
    0%   { -webkit-transform: rotate(0deg); opacity: 1; }
    50%  { -webkit-transform: rotate(180deg); opacity: 0.1; }
    100% { -webkit-transform: rotate(360deg); opacity: 1; }
}
